@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

@layer base {
  body {
    @apply bg-[rgb(7,5,14)] text-subtext;
  
  }
}

/* .grainy {
  background-image: url(/public/assets/grain.jpg);
} */

.section-hero {
  background-image: linear-gradient(to top, #07050f, rgba(0, 0, 0, 0) 55%), url(/assets/newbg.jpg);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: stretch;
}